<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--TESTING-->
		<!--<add name="MiConexion"
			connectionString="Data Source=srv-devi.errepar.com\qa; Initial Catalog=ErpCloudData; User Id=nicolas.laugas; Password=estoyCansado123"/>-->
		
		<!--PRODUCCION-->
		<add name="MiConexion"
			connectionString="Data Source=MAYA\SHP;Integrated Security=true;Initial Catalog=ErpCloudData" providerName="System.Data.SqlClient"/>
		
	</connectionStrings>
	<appSettings>
		<!--Tablas Suscriptor-->
		<add key="TablaOrigenDC" value="ERP_ClientesDatosComerciales" />
		<add key="TablaDestinoDC" value="ERP_ClientesDatosComerciales_Test" />

		<!--Tablas Suscripcion-->
		<add key="TablaOrigenSA" value="ERP_SuscripcionesActivas" />
		<add key="TablaDestinoSA" value="ERP_SuscripcionesActivas_Test" />

		<!--Tablas Novedades-->
		<add key="TablaSuscriptor" value="ERP_NovedadesSuscriptor" />
		<add key="TablaSuscripcion" value="ERP_NovedadesSuscripcion" />
		
		<!--  ******************** Orquestador Rutas  ******************** -->		
		<add key="HeaderApi" value="https://accounts.errepar.com/corp-customer-api/api/" />
		<add key="HeaderApiJwt" value="https://accounts.errepar.com/eauth/auth/job/" />
		<add key="getJobCredentialsEAuth" value="getJobCredentialsEAuth" />
		
		<add key="createCustomerUserCorpCustomer" value="createSubscriberCorpCustomer/" />
		<add key="updateSubscriberCorpCustomer" value="updateSubscriberCorpCustomer/" />
		<add key="createProduct" value="startSubscriptionSubscriberCorpCustomer/" />
		<add key="updateProduct" value="updateProduct/" />
		<add key="deleteProduct" value="deleteProduct/" />

		<!--TOKEN API Bearer-->
		<add key="apikey" value="e4cc7372-be85-4a95-babd-e15dfb75ff5f" />
		
		<!--  ******************** Fin Orquestador Rutas  ******************** -->

		<!--<add key="rutaSerilog" value="..\\..\\..\\Logs\\log " />-->
		<!--<add key="rutaSerilog" value="..\\..\\..\\bin\\Debug\\Logs\\log " />-->
		<add key="rutaSerilog" value="Logs\\log " />
	</appSettings>
</configuration>